//基础位置颜色

@base-color: #41b584;

// head 部分
@head-record-base-bgColor: #fff;
@head-record-base-select-bgColor: #ecf8f3;
@head-record-base-color: #303133;
@head-record-base-select-color: #41b584;
@head-record-base-select-border: #41b584;
@head-record-base-close-hover: #a8abb2;